#menu
  #name.row.text-left
    | Anna Thomasson
  div.row.text-center
    div.col-xs-6
    div.col-xs-6.menu
      div.col-xs-3.no-padding
        a(href='index.html')
          |Home
      div.col-xs-3.no-padding
        a(href='curious.html')
          i A Curious Friendship
      div.col-xs-3.no-padding
        a(href='events.html')
          |Events
      div.col-xs-3.no-padding
        a(href='contact.html')
          |Contact
