$font: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$almostBlack: #171717;

body {
  font-family: $font;
  color: $almostBlack;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
  width: 1200px; /* mobile is fucked */
}

#name {
  margin-bottom: -40px;
  margin-left: 15px;
  font-size: 4em;
}

.menu-item {
  font-size: 1em;
}

#menu {
  margin-bottom: 3em;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

div {
  margin-bottom: 1em;
}

#text {
  margin: 0;
  font-size: 1.5em;
}

.text {
  font-size: 1.5em;
}

#cover {
  padding-top: 2em;
  padding-bottom: 2em;
}

#image {
  height: 600px;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}

.book-cover {
  height: 652px;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}

.container {
  max-width: 700px;
}

a {
  color: darkslategrey;
  text-decoration: none;
}

.large-link {
  font-size: 1.5em;
}

.menu a {
  font-size: inherit;
  color: inherit;
}

.amzn a {
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
}

#agency {
  border-bottom: 2px dotted;
  color: darkslategrey;
  padding-bottom: 0.2em;
}

#home-page-quote {
  margin-top: 3em;
}

#quotes {
  font-size: 1.1em;
}