$font: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$almostBlack: #171717;

.page__title {
  font-size: 6em;
  font-weight: bold;
}

// MENU
.menu__item_italic {
  font-style: italic;
}

// EVENTS
.events {
  // you get the idea
  font-size: 4em;
}

.events__event {
  @extend .events;
}

.events__event_past-event {
  @extend .events__event;
  text-decoration: line-through;
}

// CONTACT
.contact__person_title {
  text-decoration: underline;
}

body {
  font-family: $font;
  color: $almostBlack;
}
