doctype html
html
  include includes/header.jade
body
  include includes/menu.jade
  div.text-center
    div.text
      strong Follow Anna
    div
      p.text Twitter &mdash; #[a(href='https://twitter.com/AThomasson_') @AThomasson_]
      p.text Instagram &mdash; #[a(href='https://www.instagram.com/anna_thomasson/') @anna_thomasson]
      p.text Facebook &mdash; #[a(href='https://www.facebook.com/annathomassonauthor') annathomassonauthor]
    div.text
      strong Contact
    div
      u.text Literary Agent
      p.text Ed Wilson at Johson & Alcock
      a.large-link(href='mailto:ed@johnsonandalcock.co.uk')
        |ed@johnsonandalcock.co.uk
      br
      a.large-link(href='http://www.johnsonandalcock.co.uk/anna-thomasson/')
        |johnsonandalcock.co.uk/anna-thomasson
    br
    div
      u.text Publicist for
        i A Curious Friendship
      p.text Dusty Miller at Macmillan
      a.large-link(href='mailto:d.miller@macmillan.co.uk')
        |d.miller@macmillan.co.uk
