doctype html
html
  include includes/header.jade
body
  include includes/menu.jade
  div.text-center
    div.text
      strong Contact
    div
      u.text Literary Agent
      p.text Ed Wilson at Johson & Alcock
      a(href='mailto:ed@johnsonandalcock.co.uk')
        |ed@johnsonandalcock.co.uk
      br
      a(href='http://www.johnsonandalcock.co.uk/anna-thomasson/')
        |johnsonandalcock.co.uk/anna-thomasson
    br
    div
      u.text Publicist for 
        i A Curious Friendship
      p.text Dusty Miller at Macmillan
      a(href='mailto:d.miller@macmillan.co.uk')
        |d.miller@macmillan.co.uk


