block vars
  - var curious = true

extends layout/default

block content
  article.book
    p.book__description.
      A vivid and moving account of the remarkable
      relationship between the writer Edith Olivier and the young artist Rex Whistler
    section.book__summary
      p.book__summary-paragraph.
        The winter of 1924: Edith Olivier, alone for the first time at the age of
        fifty-one, thought her life had come to an end. For Rex Whistler, a
        nineteen-year-old art student, life was just beginning. Together, they
        embarked on an intimate and unlikely friendship that would transform their
        lives. Gradually Edith's world opened up and she became a writer. Her home,
        the Daye House, in a wooded corner of the Wilton estate, became a sanctuary
        for Whistler and the other brilliant and beautiful younger men of her circle:
        among them Siegfried Sassoon, Stephen Tennant, William Walton, John Betjeman,
        the Sitwells and Cecil Beaton - for whom she was 'all the muses'.
      p.book__summary-paragraph.
        Set against a backdrop of the madcap parties of the 1920s, the
        sophistication of the 1930s and the drama and austerity of the Second
        World War and with an extraordinary cast of friends and acquaintances,
        Anna Thomasson brings to life, for the first time, the fascinating, and
        curious, friendship of a bluestocking and a bright young thing.
    figure.book__cover: img(src='img/cover.jpg')
    footer
      p.book__date-published Published by Macmillan on #[date 26 March 2015]
      p.book__purchase: include includes/amazon
