doctype html
html
  include includes/header.jade
body
  include includes/menu.jade
  div.row
    #quotes.text-justify.col-xs-6
      include includes/quotes.html
    div.col-xs-6
      img(src='img/paperback.jpg', class='img-responsive text-right book-cover')
  div.row
    #text.text-justify.col-xs-6
      include includes/curious.html
    div.col-xs-6
      img(src='img/cover.jpg', class='img-responsive text-right book-cover')
  div.text-center.text
    div.amzn
      |Buy a copy&nbsp;
      a.large-link(href='http://www.amazon.co.uk/Curious-Friendship-Story-Bluestocking-Bright/dp/1447245539')
        |here
