doctype html
html
  include includes/header.jade
body
  include includes/menu.jade
  div.text-center
    div.row.text
     strong Events in 2015
    div.row
      a(href='http://oxfordliteraryfestival.org/literature-events/2015/march-24/a-curious-friendship-the-story-of-a-bluestocking-and-a-bright-young-thing')
          |24 March, 12pm, Oxfordshire Literary Festival
