doctype html
html(lang='en')
  head
    title Anna Thomasson
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    style 
      include css/style.css
  body
    div.container
      #name.text-center
        p Anna Thomasson .... something asdf asdf aslidjfjkasjkdf
      //#cover
      img(src='cover.jpg', class='img-responsive text-center', id='image')
      #text.text-justify
        include text/curious.html
      div.text-center
        a(href='http://www.johnsonandalcock.co.uk/anna-thomasson/',
          id='agency')
            |johnsonandalcock.co.uk/anna-thomasson
