doctype html
html
  include includes/header.jade
body
  include includes/menu.jade
  div.row
    #text.text-justify.col-xs-6
      include includes/bio.html
      #home-page-quote
        p '<i>A Curious Friendship</i> tells the story of Rex Whistler and Edith Olivier with haunting novelistic intensity &mdash; a remarkable first book.' <strong><i>Observer Best Books of 2015</i></strong>
        p 'I loved <i>A Curious Friendship</i>. Anna Thomasson in her first book, has brilliantly captured this strange coterie.' <strong>Sir Roy Strong</strong>
        p 'Provides a window on to a fascinating world, and the story is narrated with elegant verve.' <strong>Lara Feigel, <i>Guardian</i></strong>
    div.col-xs-6
      img(src='img/anna.jpg', class='img-responsive text-right', id='image')
