doctype html
html
  head
    title Anna Thomasson
    link(
      rel='stylesheet',
      href='style/at.css'
    )
  body
    div.header
      header: h1.site-title Anna Thomasson
      nav.menu: ul
        li.menu__item: a(href='index.html') Home
        li.menu__item_italic: a(href='curious.html') A Curious Friendship
        li.menu__item: a(href='events.html') Events
        li.menu__item: a(href='contact.html') Contact
    main
      block content
